* { 
  margin: 0; 
  padding: 0; 
}

html, body {
  height: 100%;
}

#clock {
  text-align: center;
  position: relative;
  margin-top: -34px;
  top: 50%;
  color: white;
  font-family: 'Exo', sans-serif;
  font-size: 68px;
}
